<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-L97LC9W2Fn6uIWo67G-g1gX4Lbf6MZY</string>
	<key>GCM_SENDER_ID</key>
	<string>423320835502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onlyTest.example.firebaseCourseWeal</string>
	<key>PROJECT_ID</key>
	<string>fir-course2024</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-course2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423320835502:ios:0be47b7537ca3cee89e43f</string>
</dict>
</plist>